In [1]:
import pandas as pd

In [25]:
df = pd.read_csv("data/cell_data.csv", sep=';')

df.drop(["Label", "Object ID", "Parent Trace ID"], axis = 1, inplace = True)
df

,Total Intensity CSU 561,Mean Intensity CSU 561,Total Intensity CSU 488,Mean Intensity CSU 488,Total Intensity CSU 405,Mean Intensity CSU 405,Area,Parent Object ID (MO),cell cycle
0,1218438.0,84.320.972,2302999,15.937.709,3729942.0,25.812.747,1445,47,G2
1,618824.0,8.654.881,1074270,15.024.755,1708607.0,23.896.602,715,47,G2
2,26242518.0,15.620.547,830844,49.454.999,3553084.0,21.149.309,1680,59,G1
3,1375343.0,51.472.418,3123572,11.690.015,7169822.0,26.833.167,2672,59,G2
4,2498555.0,16.266.635,229999,14.973.894,3653036.0,23.782.786,1536,69,G1
...,...,...,...,...,...,...,...,...,...
1139,2407608.0,14.170.736,206436,12.150.442,4033081.0,23.737.969,1699,2927,G1
1140,1773447.0,98.964.679,3604093,20.112.126,6446149.0,35.971.814,1792,2930,G2
1141,1529220.0,10.060.658,3613849,23.775.322,6207942.0,40.841.724,1520,2930,G2
1142,3609520.0,18.557.943,2135528,10.979.579,4840860.0,2.488.874,1945,2933,S
1143,3245518.0,21.479.272,1889765,12.506.718,4332832.0,28.675.261,1511,2933,S

In [45]:
groupby_count = df.groupby(["Parent Object ID (MO)"])["cell cycle"].count().reset_index()

In [49]:
not_2_nuclear = list(groupby_count.loc[groupby_count["cell cycle"] != 2, "Parent Object ID (MO)"])

In [51]:
df_2_nuclear = df[~df["Parent Object ID (MO)"].isin(not_2_nuclear)]

In [53]:
print("%d objects not conform out of %d total" %(df.shape[0] - df_2_nuclear.shape[0], df.shape[0]))

238 objects not conform out of 1144 total

In [69]:
similar_cell_cycle = df_2_nuclear[df_2_nuclear.duplicated(["Parent Object ID (MO)", "cell cycle"], keep = False)]
not_similar_cell_cycle = df_2_nuclear[~df_2_nuclear.duplicated(["Parent Object ID (MO)", "cell cycle"], keep = False)]

print("Cells with similar nuclear cell cycle: %.1f%%" %(similar_cell_cycle.shape[0]/df_2_nuclear.shape[0]*100)) 
print("Cells with not similar nuclear cell cycle: %.1f%%" %(not_similar_cell_cycle.shape[0]/df_2_nuclear.shape[0]*100))

Cells with similar nuclear cell cycle: 89.6%
Cells with not similar nuclear cell cycle: 10.4%

In [71]:
df_G1_G1 = similar_cell_cycle[similar_cell_cycle["cell cycle"] == "G1"]
df_G2_G2 = similar_cell_cycle[similar_cell_cycle["cell cycle"] == "G2"]
df_S_S = similar_cell_cycle[similar_cell_cycle["cell cycle"] == "S"]

In [73]:
print("Cells with double G1/G1 nuclear cell cycle: %.1f%% (%.1f%%)" %(df_G1_G1.shape[0]/df_2_nuclear.shape[0]*100, df_G1_G1.shape[0]/similar_cell_cycle.shape[0]*100)) 
print("Cells with double G2/G2 nuclear cell cycle: %.1f%% (%.1f%%)" %(df_G2_G2.shape[0]/df_2_nuclear.shape[0]*100, df_G2_G2.shape[0]/similar_cell_cycle.shape[0]*100)) 
print("Cells with double S/S nuclear cell cycle: %.1f%% (%.1f%%)" %(df_S_S.shape[0]/df_2_nuclear.shape[0]*100, df_S_S.shape[0]/similar_cell_cycle.shape[0]*100))

Cells with double G1/G1 nuclear cell cycle: 51.9% (57.9%)
Cells with double G2/G2 nuclear cell cycle: 11.7% (13.1%)
Cells with double S/S nuclear cell cycle: 26.0% (29.1%)

In [91]:
lists_dict = {"G1_G2": [], "G1_S": [], "G2_S": []}

for id in not_similar_cell_cycle["Parent Object ID (MO)"].unique():
    mask = not_similar_cell_cycle[not_similar_cell_cycle["Parent Object ID (MO)"] == id] 
    list_c_cycle = list(mask["cell cycle"])
    
    if ("G1" in list_c_cycle and "G2" in list_c_cycle) or ("G2" in list_c_cycle and "G1" in list_c_cycle):
        lists_dict["G1_G2"].append(id)
    elif ("G1" in list_c_cycle and "S" in list_c_cycle) or ("S" in list_c_cycle and "G1" in list_c_cycle):
        lists_dict["G1_S"].append(id)
    elif ("G2" in list_c_cycle and "S" in list_c_cycle) or ("S" in list_c_cycle and "G2" in list_c_cycle):
        lists_dict["G2_S"].append(id)

df_G1_G2 = not_similar_cell_cycle[not_similar_cell_cycle["Parent Object ID (MO)"].isin(lists_dict["G1_G2"])]
df_G1_S = not_similar_cell_cycle[not_similar_cell_cycle["Parent Object ID (MO)"].isin(lists_dict["G1_S"])]
df_G2_S = not_similar_cell_cycle[not_similar_cell_cycle["Parent Object ID (MO)"].isin(lists_dict["G2_S"])]

In [92]:
print("Cells with G1/G2 nuclear cell cycle: %.1f%% (%.1f%%)" %(df_G1_G2.shape[0]/df_2_nuclear.shape[0]*100, df_G1_G2.shape[0]/not_similar_cell_cycle.shape[0]*100)) 
print("Cells with G1/S nuclear cell cycle: %.1f%% (%.1f%%)" %(df_G1_S.shape[0]/df_2_nuclear.shape[0]*100, df_G1_S.shape[0]/not_similar_cell_cycle.shape[0]*100)) 
print("Cells with G2/S nuclear cell cycle: %.1f%% (%.1f%%)" %(df_G2_S.shape[0]/df_2_nuclear.shape[0]*100, df_G2_S.shape[0]/not_similar_cell_cycle.shape[0]*100))

Cells with G1/G2 nuclear cell cycle: 3.8% (36.2%)
Cells with G1/S nuclear cell cycle: 2.9% (27.7%)
Cells with G2/S nuclear cell cycle: 3.8% (36.2%)

In [93]:
df_G1_S

,Total Intensity CSU 561,Mean Intensity CSU 561,Total Intensity CSU 488,Mean Intensity CSU 488,Total Intensity CSU 405,Mean Intensity CSU 405,Area,Parent Object ID (MO),cell cycle
517,3788446.2,11.012.925,8566337,24.902.144,7648615.0,22.234.346,3440,1095,S
518,1575226.0,16.974.418,132490,14.276.939,3266659.0,35.201.067,928,1095,G1
519,1466600.0,14.784.274,137185,13.829.134,3234297.0,32.603.801,992,1101,G1
520,4924347.0,1.586.452,6038967,19.455.435,6443770.5,2.075.957,3104,1101,S
523,4834459.0,4472.21.00,210525,19.475.023,3199989.0,29.602.119,1081,1127,G1
524,2561306.0,14.899.977,3881680,22.581.035,4505869.0,26.212.153,1719,1127,S
533,8684240.0,16.397.734,22834784,43.117.041,9642228.0,18.206.624,5296,1203,S
534,4551189.0,19.753.424,568741,2.468.494,4722258.0,20.495.911,2304,1203,G1
549,3946813.0,17.012.125,2172770,93.653.882,4858958.0,20.943.784,2320,1551,S
550,2276592.0,10.462.279,247174,113.591,4606400.0,21.169.119,2176,1551,G1
558,2475142.0,1.227.749,297727,14.768.204,4396486.0,21.807.966,2016,1731,G1
559,4830541.0,15.806.744,1959205.1,64.110.114,5021509.0,16.431.639,3056,1731,S
568,3306120.0,16.399.404,1677563,83.212.451,5253660.0,26.059.822,2016,1843,S
569,1541225.0,14.819.471,139120,13.376.923,4196039.0,40.346.528,1040,1843,G1
591,2318426.0,12.087.727,231118,12.049.948,4524340.0,23.588.843,1918,2149,G1
592,2767788.0,97.115.369,3031009,1.063.512,6924398.0,24.296.133,2850,2149,S
599,2195246.0,21.108.135,345556,33.226.538,2493995.0,2.398.072,1040,2298,G1
600,3017238.8,20.497.546,2004129.1,13.615.007,4068801.0,27.641.311,1472,2298,S
609,1547220.0,15.852.664,125180,12.825.819,2806158.0,28.751.619,976,2368,G1
610,3320482.0,18.204.397,1757580,96.358.551,4499623.0,24.668.987,1824,2368,S
613,4880336.0,2.747.937,4652546,26.196.768,7507963.5,4.227.457,1776,2414,S
614,1251740.0,15.966.072,92684,11.821.939,3274080.8,41.761.235,784,2414,G1
615,1519316.0,18.619.069,103233,12.651.103,4243434.0,52.002.866,816,2415,G1
616,5411994.0,20.014.771,1605010,59.356.879,5753594.0,21.278.083,2704,2415,S
617,1632704.0,21.259.167,120966,15.750.781,3663448.0,47.701.147,768,2442,G1
618,3717901.0,1.358.882,2716455,99.285.638,5903734.5,21.577.976,2736,2442,S

### Navigating through all cell objects

In [2]:
df = pd.read_csv("data/cell_data.csv", sep=';')

df.drop(["Label", "Object ID", "Parent Trace ID"], axis = 1, inplace = True)
df

,Total Intensity CSU 561,Mean Intensity CSU 561,Total Intensity CSU 488,Mean Intensity CSU 488,Total Intensity CSU 405,Mean Intensity CSU 405,Area,Parent Object ID (MO),cell cycle
0,1218438.0,84.320.972,2302999,15.937.709,3729942.0,25.812.747,1445,47,G2
1,618824.0,8.654.881,1074270,15.024.755,1708607.0,23.896.602,715,47,G2
2,26242518.0,15.620.547,830844,49.454.999,3553084.0,21.149.309,1680,59,G1
3,1375343.0,51.472.418,3123572,11.690.015,7169822.0,26.833.167,2672,59,G2
4,2498555.0,16.266.635,229999,14.973.894,3653036.0,23.782.786,1536,69,G1
...,...,...,...,...,...,...,...,...,...
1139,2407608.0,14.170.736,206436,12.150.442,4033081.0,23.737.969,1699,2927,G1
1140,1773447.0,98.964.679,3604093,20.112.126,6446149.0,35.971.814,1792,2930,G2
1141,1529220.0,10.060.658,3613849,23.775.322,6207942.0,40.841.724,1520,2930,G2
1142,3609520.0,18.557.943,2135528,10.979.579,4840860.0,2.488.874,1945,2933,S
1143,3245518.0,21.479.272,1889765,12.506.718,4332832.0,28.675.261,1511,2933,S

In [17]:
nuclei_present = list(groupby_count.value_counts("cell cycle").index)
cell_count_by_nuclei = list(groupby_count.value_counts("cell cycle"))
counting_cell_nuclei = [[index, count] 
                        for index, count in zip(nuclei_present, cell_count_by_nuclei)]

In [19]:
for i in range(len(nuclei_present)):
    print(f"Number of nuclei {nuclei_present[i]}: {cell_count_by_nuclei[i]} cells")

Number of nuclei 2: 453 cells
Number of nuclei 3: 33 cells
Number of nuclei 4: 26 cells
Number of nuclei 5: 3 cells
Number of nuclei 6: 2 cells
Number of nuclei 8: 1 cells

In [30]:
# List containing all df with the different cells
list_df = []

for n in nuclei_present:
    # We select the cells with n nuclei
    nuclei_id = list(groupby_count.loc[groupby_count["cell cycle"] == n, "Parent Object ID (MO)"])
    list_df.append(df[df["Parent Object ID (MO)"].isin(nuclei_id)])

list_df

[      Total Intensity CSU 561 Mean Intensity CSU 561 Total Intensity CSU 488  \
 0                   1218438.0             84.320.972                 2302999
 1                    618824.0              8.654.881                 1074270
 2                  26242518.0             15.620.547                  830844
 3                   1375343.0             51.472.418                 3123572
 4                   2498555.0             16.266.635                  229999
 ...                       ...                    ...                     ...
 1139                2407608.0             14.170.736                  206436
 1140                1773447.0             98.964.679                 3604093
 1141                1529220.0             10.060.658                 3613849
 1142                3609520.0             18.557.943                 2135528
 1143                3245518.0             21.479.272                 1889765

      Mean Intensity CSU 488  Total Intensity CSU 405 Mean Intensity CSU 405  \
 0                15.937.709                3729942.0             25.812.747
 1                15.024.755                1708607.0             23.896.602
 2                49.454.999                3553084.0             21.149.309
 3                11.690.015                7169822.0             26.833.167
 4                14.973.894                3653036.0             23.782.786
 ...                     ...                      ...                    ...
 1139             12.150.442                4033081.0             23.737.969
 1140             20.112.126                6446149.0             35.971.814
 1141             23.775.322                6207942.0             40.841.724
 1142             10.979.579                4840860.0              2.488.874
 1143             12.506.718                4332832.0             28.675.261

       Area  Parent Object ID (MO) cell cycle
 0     1445                     47         G2
 1      715                     47         G2
 2     1680                     59         G1
 3     2672                     59         G2
 4     1536                     69         G1
 ...    ...                    ...        ...
 1139  1699                   2927         G1
 1140  1792                   2930         G2
 1141  1520                   2930         G2
 1142  1945                   2933          S
 1143  1511                   2933          S

 [906 rows x 9 columns],
      Total Intensity CSU 561 Mean Intensity CSU 561 Total Intensity CSU 488  \
 22                 3262899.0             10.905.411                 1273287
 23                 2718451.8             11.479.949               1030675.1
 24                 1790850.0              1.776.637                  144192
 27                 3676992.0             21.095.767                 2468375
 28                 1780196.0                2022.95                 1202475
 ..                       ...                    ...                     ...
 961                7382145.0             29.236.218               440247.03
 962                7350704.0             31.426.694                  408249
 995                3200460.0             23.378.086                  213415
 996               14730592.0             28.553.193                 2343232
 997                4272554.0             15.259.121                 3623366

     Mean Intensity CSU 488  Total Intensity CSU 405 Mean Intensity CSU 405  \
 22              42.556.384                4786487.0             15.997.617
 23              43.525.128                4155126.0             17.546.985
 24              14.304.762                2833365.0             28.108.779
 27              14.161.647                5606726.0             32.167.102
 28              13.664.489                3201727.0             36.383.262
 ..                     ...                      ...                    ...
 961             17.435.526                6355755.0             25.171.306
 962             17.453.998                7882109.0             33.698.628
 995             15.589.116                3331444.0             24.334.873
 996             45.420.276               15768531.0             30.565.093
 997             12.940.593                5845131.0             20.875.469

      Area  Parent Object ID (MO) cell cycle
 22   2992                    476          S
 23   2368                    476          S
 24   1008                    476         G1
 27   1743                    500          S
 28    880                    500          S
 ..    ...                    ...        ...
 961  2525                   2782         G1
 962  2339                   2782         G1
 995  1369                   2817         G1
 996  5159                   2817          S
 997  2800                   2817          S

 [99 rows x 9 columns],
       Total Intensity CSU 561 Mean Intensity CSU 561 Total Intensity CSU 488  \
 60                  2339145.0             23.023.081                  156801
 61                  2679589.0             26.167.861                  140213
 62                  5472691.0              3.672.947                  759992
 63                  6361649.0             39.611.763                  889505
 76                  3566127.0             28.124.031               178326.98
 ...                       ...                    ...                     ...
 1011                3499882.0             20.697.114                 1585217
 1130                3982229.0             19.981.079                  276719
 1131                3841092.0             22.126.106                  238044
 1132                7760722.5             15.255.991                 1923737
 1133                1154818.0             10.614.136                  131622

      Mean Intensity CSU 488  Total Intensity CSU 405 Mean Intensity CSU 405  \
 60                1.543.317                3207161.0             31.566.545
 61               13.692.676                4245800.0             41.462.891
 62               51.006.174                3320620.0              2.228.604
 63               55.386.365                3739963.0             23.287.441
 76               14.063.643                3720609.0             29.342.341
 ...                     ...                      ...                    ...
 1011             93.744.354                3905580.8             23.096.279
 1130             13.884.546                3999245.0             20.066.458
 1131             13.712.212                3772069.0             21.728.508
 1132              3.781.673               12042589.0             23.673.264
 1133              1.209.761                3112017.0             28.603.098

       Area  Parent Object ID (MO) cell cycle
 60    1016                    734         G1
 61    1024                    734         G1
 62    1490                    734         G1
 63    1606                    734         G1
 76    1268                    746         G1
 ...    ...                    ...        ...
 1011  1691                   2824          S
 1130  1993                   2923         G1
 1131  1736                   2923         G1
 1132  5087                   2923          S
 1133  1088                   2923         G1

 [104 rows x 9 columns],
      Total Intensity CSU 561 Mean Intensity CSU 561 Total Intensity CSU 488  \
 171                1323118.0             70.982.727                 3459108
 172                1410203.0             75.010.797                 3595865
 173                4020546.0             18.955.898                  856782
 174                3201188.0             16.664.175                  662009
 175                7116018.0             19.733.827                 1428972
 880                5113138.0             32.818.601                  235117
 881                5582996.0             31.259.775                  263365
 882                4170154.8             21.833.271                  877035
 883                5129623.0             25.699.514                 1103569
 884                1006412.0             17.844.185                   72612
 887                6162877.0             18.440.685                 3288812
 888                3970864.2             22.638.906                 2983448
 889                1807105.0             16.609.421                  141233
 890                3597200.0             22.652.393                  255360
 891                3398087.0             26.798.794                  207302

     Mean Intensity CSU 488  Total Intensity CSU 405 Mean Intensity CSU 405  \
 171             18.557.446                7117320.0             38.183.047
 172             19.126.941                7506246.0             39.926.841
 173              4.039.519                4494473.0             21.190.349
 174             34.461.685                4505528.0             23.454.077
 175             39.627.621                8830056.0             24.487.122
 880              1.509.095                4024330.0             25.830.103
 881              1.474.608                4173214.0              2.336.626
 882             45.918.063                4214776.0              2.206.689
 883             55.289.026                4080477.0             20.443.271
 884             12.874.467                1715296.0             30.413.049
 887             98.408.496                9154467.0              2.739.218
 888             17.009.396                4590258.0             26.170.227
 889             12.980.974                3695399.0             33.965.063
 890             16.080.605                4153709.8             26.156.863
 891             16.348.738                3867540.0             30.501.104

      Area  Parent Object ID (MO) cell cycle
 171  1864                    807         G2
 172  1880                    807         G2
 173  2121                    807         G1
 174  1921                    807         G1
 175  3606                    807          S
 880  1558                   2727         G1
 881  1786                   2727         G1
 882  1910                   2727         G1
 883  1996                   2727          S
 884   564                   2727         G1
 887  3342                   2730          S
 888  1754                   2730          S
 889  1088                   2730         G1
 890  1588                   2730         G1
 891  1268                   2730         G1  ,
      Total Intensity CSU 561 Mean Intensity CSU 561 Total Intensity CSU 488  \
 284                3519795.0             21.527.798               233171.98
 285                3606309.0             21.530.203                  234675
 286                4609091.0              2.946.989                 3305383
 287                5016400.0             26.485.745                 3705057
 288                5236107.0             23.714.253                  346236
 289                4812478.0             23.136.914                  310334
 290                3904550.0              2.405.761                 1894383
 291                3984106.0             21.735.439               1923575.1
 292                3762388.0             18.036.376                 1492889
 293                3564176.0             17.318.639                 1412120
 294                2204713.0             11.634.369                 2113140
 295                1767651.0             10.367.455                 1854748

     Mean Intensity CSU 488  Total Intensity CSU 405 Mean Intensity CSU 405  \
 284             14.261.284                4158886.0             25.436.611
 285             14.010.448                4434958.0             26.477.361
 286             21.134.163                5334181.0             34.106.016
 287             19.562.075                5679179.0             29.985.105
 288             15.680.978                4271653.0             19.346.255
 289             14.919.904                4247827.0             20.422.245
 290             11.672.107                5061656.0             31.187.036
 291             10.494.136                4461069.0             24.337.529
 292             71.567.065                4709698.0             22.577.651
 293             68.616.132                5041441.0             24.496.797
 294             11.151.134                5606985.0             29.588.311
 295             10.878.287                4955530.0             29.064.692

      Area  Parent Object ID (MO) cell cycle
 284  1635                    894         G1
 285  1675                    894         G1
 286  1564                    894          S
 287  1894                    894          S
 288  2208                    894         G1
 289  2080                    894         G1
 290  1623                    895          S
 291  1833                    895          S
 292  2086                    895          S
 293  2058                    895          S
 294  1895                    895          S
 295  1705                    895          S  ,
      Total Intensity CSU 561 Mean Intensity CSU 561 Total Intensity CSU 488  \
 903                2395859.0             22.433.137                  151710
 904                1807683.0             16.706.866                  136117
 905                2059582.9             21.910.457                  125984
 906                1660159.0             12.969.993                  149254
 907                1581725.0             13.507.472                  137849
 908                2765940.0             22.092.173                  169177
 909                1691348.0             16.795.908                  121734
 910                1724490.0             13.730.016                  146946

     Mean Intensity CSU 488  Total Intensity CSU 405 Mean Intensity CSU 405  \
 903             14.205.057                2786739.0             26.093.062
 904             12.580.129                2934127.0             27.117.625
 905             13.402.553                2933854.0             31.211.213
 906             11.660.469                3243658.0             25.341.079
 907             11.771.904                2703235.0             23.084.841
 908              1.351.254                3305045.8              2.639.813
 909             12.088.779                2943541.0             29.230.793
 910             11.699.522                3101463.0             24.693.176

      Area  Parent Object ID (MO) cell cycle
 903  1068                   2738         G1
 904  1082                   2738         G1
 905   940                   2738         G1
 906  1280                   2738         G1
 907  1171                   2738         G1
 908  1252                   2738         G1
 909  1007                   2738         G1
 910  1256                   2738         G1  ]

In [35]:
list_df[3]

,Total Intensity CSU 561,Mean Intensity CSU 561,Total Intensity CSU 488,Mean Intensity CSU 488,Total Intensity CSU 405,Mean Intensity CSU 405,Area,Parent Object ID (MO),cell cycle
171,1323118.0,70.982.727,3459108,18.557.446,7117320.0,38.183.047,1864,807,G2
172,1410203.0,75.010.797,3595865,19.126.941,7506246.0,39.926.841,1880,807,G2
173,4020546.0,18.955.898,856782,4.039.519,4494473.0,21.190.349,2121,807,G1
174,3201188.0,16.664.175,662009,34.461.685,4505528.0,23.454.077,1921,807,G1
175,7116018.0,19.733.827,1428972,39.627.621,8830056.0,24.487.122,3606,807,S
880,5113138.0,32.818.601,235117,1.509.095,4024330.0,25.830.103,1558,2727,G1
881,5582996.0,31.259.775,263365,1.474.608,4173214.0,2.336.626,1786,2727,G1
882,4170154.8,21.833.271,877035,45.918.063,4214776.0,2.206.689,1910,2727,G1
883,5129623.0,25.699.514,1103569,55.289.026,4080477.0,20.443.271,1996,2727,S
884,1006412.0,17.844.185,72612,12.874.467,1715296.0,30.413.049,564,2727,G1
887,6162877.0,18.440.685,3288812,98.408.496,9154467.0,2.739.218,3342,2730,S
888,3970864.2,22.638.906,2983448,17.009.396,4590258.0,26.170.227,1754,2730,S
889,1807105.0,16.609.421,141233,12.980.974,3695399.0,33.965.063,1088,2730,G1
890,3597200.0,22.652.393,255360,16.080.605,4153709.8,26.156.863,1588,2730,G1
891,3398087.0,26.798.794,207302,16.348.738,3867540.0,30.501.104,1268,2730,G1